$background-color = #fff
$text-color = #1f1f21
$sub-text-color = #999
$highlight-color = #1284ff
$second-highlight-color = #4cda64
$border-color = #ddd
$toolbar-background-color = #f8f8f8
$toolbar-button-color = #1284ff
$toolbar-text-color = #1f1f21
$toolbar-border-color = #ddd
$buttonbar-color = #1284ff
$buttonbar-active-text-color = #fff
$list-background-color = #fff
$list-header-background-color = #eee
$list-tap-active-background-color = #d9d9d9
$tabbar-background-color = #f8f8f8
$tabbar-text-color = #666
$tabbar-highlight-text-color = #1284ff
$tabbar-border-color = #ddd
$switch-highlight-color = #4cd964
$modal-background-color = rgba(0, 0, 0, 0.7)
$modal-text-color = #fff
$notification-background-color = #dc5236

@import 'components'