$background-color = #f3f3f3
$text-color = #524b57
$sub-text-color = #ccc
$highlight-color = #8962ed
$second-highlight-color = #574bdb
$border-color = #ddd
$toolbar-background-color = #fff
$toolbar-button-color = #8962ed
$toolbar-text-color = #5b2c7a
$toolbar-border-color = #ddd
$buttonbar-color = #ac62ed
$buttonbar-active-text-color = #fff
$list-background-color = #fff
$list-header-background-color = #eee
$list-tap-active-background-color = #d9d9d9
$tabbar-background-color = #fff
$tabbar-text-color = #aaa
$tabbar-highlight-text-color = #8962ed
$tabbar-border-color = #ddd
$switch-highlight-color = #574bdb
$modal-background-color = rgba(0, 0, 0, 0.7)
$modal-text-color = #fff
$notification-background-color = #dc5236

@import 'components'