scratch/*
*~
*.log
*.swp
.DS_Store
.htaccess
.idea
.less
.md
temp/
node_modules/

# folders need to be ingored due to auto auto-update mechanism
ajax/libs/jsxgraph/rm/
ajax/libs/elfinder/*-src
ajax/libs/mobx/*fix*
ajax/libs/mobx/*albert*
ajax/libs/aui/*do-not-use/
ajax/libs/knockout-sortable/.0.14.0/
ajax/libs/jarallax/1.6.1_/
ajax/libs/bonzo/1.3.2-clone/
ajax/libs/juicer/0.5.*-stable
ajax/libs/juicer/0.6.*-stable*
ajax/libs/jsmediatags/delete/
ajax/libs/jsmediatags/.3.2.0/
ajax/libs/ionic-framework/2.0.0-alpha.2.0.0-alpha.50/
ajax/libs/unibox/jquery_plugin/
ajax/libs/guards/bootstrap-*/
ajax/libs/guards/foundation-*/
ajax/libs/roslibjs/node*
ajax/libs/formstone/remove/
ajax/libs/angular-chart.js/rm/
ajax/libs/foundation/undefined/
ajax/libs/messenger/.1.5.0/
ajax/libs/wavesurfer.js/marky-boy_2006-01-11/
ajax/libs/require-i18n/latest/
ajax/libs/agility/0.1.0-docs/
ajax/libs/jquery-countdown/Release_1*
ajax/libs/postgrest-client/1.0.*
ajax/libs/jquery-ui-timepicker-addon/0.0.0-ignored/
ajax/libs/jsrender/*/jsrender-node.js
ajax/libs/typescript/*/typescriptServices.js
ajax/libs/froala-editor/froala_editor_1.0.3/
ajax/libs/froala-editor/.1.0.5/
ajax/libs/min/1.5
ajax/libs/typescript/*dev*
ajax/libs/material-design-icons/*/gulpfile.babel.js
ajax/libs/jquery.alphanum/Stable_1.0
ajax/libs/jquery.alphanum/Stable_1.1
ajax/libs/fullPage.js/.2.7.5
ajax/libs/Turf.js/0.0.4[3-6]
ajax/libs/metrics-graphics/.7.0
ajax/libs/PhysicsJS/physicsjs-*
ajax/libs/diva.js/RELEASE-*/
ajax/libs/LoadGo/1.0/
ajax/libs/nunjucks/.1.3.1
ajax/libs/sbt/IBMSBT-20140312/
ajax/libs/angular-bootstrap-colorpicker/push/
ajax/libs/weather-icons/1.1endpoint
ajax/libs/weather-icons/1.1ghpagesendpoint
ajax/libs/mojio-js/oauth-token/
ajax/libs/jquery-datetimepicker/.1.0.1
ajax/libs/rangy/1.3.0-alpha.*
ajax/libs/rangy/1.3.0-beta.*
ajax/libs/tmlib.js/rsource0.1.0/
ajax/libs/angular-leaflet-directive/delete/
ajax/libs/angular-leaflet-directive/remove/
ajax/libs/angular-smart-table/help/
ajax/libs/atmosphere/javascript-project-*
ajax/libs/waypoints/latest/
ajax/libs/bPopup/er*
ajax/libs/bPopup/*b*
ajax/libs/fixed-data-table/latest/
ajax/libs/vibrant.js/1.0
ajax/libs/flocks.js/0.15.7/
ajax/libs/qoopido.js/support
ajax/libs/qoopido.js/widget-adapt
ajax/libs/strophe.js/release-1.2.0
ajax/libs/raphael/semver/
ajax/libs/clappr/media_control_youtube/
ajax/libs/URI.js/.1*
ajax/libs/jquery.gridster/.0.4.0/
ajax/libs/backbone.layoutmanager/0.0.0/
ajax/libs/waypoints/latest/
ajax/libs/device.js/0.1.16/
ajax/libs/msl-client-browser/msl-client-java-1.0.0/
ajax/libs/angular-google-maps/2.0.0-SNAPSHOT*
ajax/libs/require.js/latest/
ajax/libs/foggy/foggy*
ajax/libs/mojio-js/connery/
ajax/libs/dygraph/1.0.1-bower
ajax/libs/dygraph/1.0.1+bower
ajax/libs/social-likes/path/
ajax/libs/datatables/RELEASE*
ajax/libs/datatables/BETA*
ajax/libs/orb/1.0.0/
ajax/libs/sbt/sbtk-1.1.2.20141211-1200/
ajax/libs/sbt/1.1.3-20150220/
ajax/libs/angulartics/googleanalytics/
ajax/libs/angular-material/*-master-*
ajax/libs/angular-material/0.0.2-6071305/
ajax/libs/angular-material/0.0.2-ca7793d/
ajax/libs/angular-material/0.0.2-e59e064cd0e19d841e9c252f973a9eb7e87543a2/
ajax/libs/deck.js/latest/
ajax/libs/jasmine/list/
ajax/libs/underscore.string/.*
ajax/libs/jsxgraph/RELEASE*
ajax/libs/jsxgraph/skm*
ajax/libs/jsxgraph/sketchometry*
ajax/libs/mojio-js/robb/
ajax/libs/lodash.js/*-es
ajax/libs/lodash.js/*-npm
ajax/libs/flexslider/ersion
ajax/libs/bean/1.0.0a1/
ajax/libs/codemirror/3.11.01/
ajax/libs/codemirror/3.12.00/
ajax/libs/codemirror/3.13.00/
ajax/libs/condition/1.0.1b/
ajax/libs/backbone-relational/0.8.0plus/
ajax/libs/seajs/2.0.0b[1-3]
ajax/libs/jsSHA/release*
ajax/libs/postscribe/ersion
ajax/libs/react-router/latest/
ajax/libs/angular-gantt/.0.6.1
ajax/libs/jquery-form-validator/2.2
ajax/libs/require-cs/latest/
ajax/libs/require-css/dev-test/
ajax/libs/require-css/release-test/
ajax/libs/ionic/testing
ajax/libs/yamlcss/rm
ajax/libs/nuclear-js/show
ajax/libs/aws-sdk/*/appinfo.sample.js
ajax/libs/winjs/release
ajax/libs/plottable.js/.0.18.0
ajax/libs/plottable.js/*-hover-tooltip*
ajax/libs/jQRangeSlider/latest/
ajax/libs/material-design-icons/2.0
ajax/libs/randomcolor/0.2
ajax/libs/core-js/1,0,1/
ajax/libs/musicmetadata/Browser-0.4.3/
ajax/libs/ng-pdfviewer/r0.1.0/
ajax/libs/ng-pdfviewer/r0.2.0/
ajax/libs/ng-pdfviewer/r0.2.1/
ajax/libs/prettyCheckable/.2.1.1/
ajax/libs/Hyphenator/HyphenatorBeta12/
ajax/libs/Hyphenator/ersion_*

#ignore files that we don't need
ajax/libs/*/*/**/Gruntfile.js
ajax/libs/*/*/**/.gitignore

#ignore files that we don't support
ajax/libs/*/*/**/*.styl
ajax/libs/*/*/**/*.scss
ajax/libs/*/*/**/*.mustache
ajax/libs/*/*/**/*.txt
ajax/libs/*/*/**/*.coffee
ajax/libs/*/*/**/*.ico
ajax/libs/*/*/**/*.psd
ajax/libs/*/*/**/*.html
ajax/libs/*/*/**/*.amd
ajax/libs/*/*/**/*.zip
ajax/libs/*/*/**/*.gz
ajax/libs/*/*/**/*.rb
ajax/libs/*/*/**/*.xap
ajax/libs/*/*/**/*.tmSnippet
ajax/libs/*/*/**/*.plist
ajax/libs/*/*/**/*.handlebars
ajax/libs/*/*/**/*.gs
ajax/libs/*/*/**/*.php
ajax/libs/*/*/**/*.ls
ajax/libs/*/*/**/*.less
ajax/libs/*/*/**/*LICENSE
ajax/libs/*/*/**/*.LICENSE
ajax/libs/*/*/**/*.ai
ajax/libs/*/*/**/*.lang
ajax/libs/*/*/**/*.yml
ajax/libs/*/*/**/*.jade
ajax/libs/*/*/**/*.nupkg
ajax/libs/*/*/**/*.sublime-*
ajax/libs/*/*/**/*.md
ajax/libs/*/*/**/*.markdown
ajax/libs/*/*/**/*.json
ajax/libs/*/*/**/*.ts
