scratch/*
*~
*.log
*.swp
*.Thumbs.db
.DS_Store
.htaccess
.idea
.less
.md
temp/
node_modules/

# for bot to mark as the new version cannot be added automatically, prevent keep compressing files in it.
/ajax/libs/*/*/.bot_cant_auto_add

# folders need to be ingored due to auto auto-update mechanism
/ajax/libs/agility/0.1.0-docs/
/ajax/libs/angular-bootstrap-colorpicker/push/
/ajax/libs/angular-chart.js/rm/
/ajax/libs/angular-gantt/.0.6.1
/ajax/libs/angular-google-maps/2.0.0-SNAPSHOT*
/ajax/libs/angular-gridster/v.0.10.4
/ajax/libs/angular-leaflet-directive/delete/
/ajax/libs/angular-leaflet-directive/remove/
/ajax/libs/angular-material/0.0.2-6071305/
/ajax/libs/angular-material/0.0.2-ca7793d/
/ajax/libs/angular-material/0.0.2-e59e064cd0e19d841e9c252f973a9eb7e87543a2/
/ajax/libs/angular-material/*-master-*
/ajax/libs/angular-mocks/*-build.*/
/ajax/libs/angular-smart-table/help/
/ajax/libs/angulartics/googleanalytics/
/ajax/libs/angular-ui-router/*-SNAPSHOT*
/ajax/libs/appbase-js/1.0.0/
/ajax/libs/ant-design-pro/2.3.0/
/ajax/libs/atmosphere/javascript-project-*
/ajax/libs/aui/*do-not-use/
/ajax/libs/aui/*SNAPSHOT*/
/ajax/libs/avalon.js/2.1.16ee/
/ajax/libs/avalon.js/before-rebuild-strategy/
/ajax/libs/avalon.js/dynamic_detect/
/ajax/libs/avalon.js/ms_controller_fix/
/ajax/libs/aws-sdk/*/appinfo.sample.js
/ajax/libs/axe-core/*-canary.*
/ajax/libs/ag-grid/vg1tisc00l/
/ajax/libs/aspnet-signalr/*-rc*
/ajax/libs/aspnet-signalr/*-preview*
/ajax/libs/browser-logos/[a-z]*
/ajax/libs/backbone.layoutmanager/0.0.0/
/ajax/libs/backbone-relational/0.8.0plus/
/ajax/libs/bean/1.0.0a1/
/ajax/libs/bonzo/1.3.2-clone/
/ajax/libs/bokeh/1.3.2-dev2/
/ajax/libs/bPopup/*b*
/ajax/libs/bPopup/ver*
/ajax/libs/brython/3.2.*
/ajax/libs/bxslider/*/jquery-3.1.1.min.js
/ajax/libs/clappr/media_control_youtube/
/ajax/libs/clarity-icons/*-dev*
/ajax/libs/clone/0.1.*
/ajax/libs/clusterize.js/v.0.6.0
/ajax/libs/codemirror/3.11.01/
/ajax/libs/codemirror/3.12.00/
/ajax/libs/codemirror/3.13.00/
/ajax/libs/condition/1.0.1b/
/ajax/libs/core-js/1,0,1/
/ajax/libs/crypto-js/release-3.1.2*
/ajax/libs/d3-tip/0.7.0-temp-fork/
/ajax/libs/datatables/BETA*
/ajax/libs/datatables/RELEASE*
/ajax/libs/date-fns/v.*
/ajax/libs/deck.js/latest/
/ajax/libs/design-system/2.6.0-dev
/ajax/libs/device.js/0.1.16/
/ajax/libs/diva.js/RELEASE-*/
/ajax/libs/dygraph/1.0.1-bower
/ajax/libs/dygraph/1.0.1+bower
/ajax/libs/elfinder/*-src
/ajax/libs/embed-js/*-alpha.*
/ajax/libs/esri-leaflet-geocoder/2.2.5
/ajax/libs/europa/4.0.0-alpha*/
/ajax/libs/fixed-data-table/latest/
/ajax/libs/flexslider/version
/ajax/libs/flocks.js/0.15.7/
/ajax/libs/foggy/foggy*
/ajax/libs/formstone/remove/
/ajax/libs/foundation/undefined/
/ajax/libs/fpo/[3-5].*
/ajax/libs/froala-editor/froala_editor_1.0.3/
/ajax/libs/froala-editor/v.1.0.5/
/ajax/libs/fullPage.js/v.2.0.1
/ajax/libs/fullPage.js/v.2.2.8
/ajax/libs/fullPage.js/v.2.7.5
/ajax/libs/gemma/0.1.0/
/ajax/libs/gemma/0.4.0/
/ajax/libs/graphdracula/1.0.1-*
/ajax/libs/guards/bootstrap-*/
/ajax/libs/guards/foundation-*/
/ajax/libs/hls.js/*-canary.*/
/ajax/libs/Hyphenator/HyphenatorBeta12/
/ajax/libs/Hyphenator/Version_*
/ajax/libs/imgareaselect/0.9.11-rc.1/
/ajax/libs/inferno/*-alpha.*
/ajax/libs/inferno-compat/*-alpha.*/
/ajax/libs/inferno-component/*-alpha.*
/ajax/libs/inferno-create-class/*-alpha.*
/ajax/libs/inferno-create-element/*-alpha.*
/ajax/libs/inferno-devtools/*-alpha.*
/ajax/libs/inferno-hyperscript/*-alpha.*
/ajax/libs/inferno-mobx/*-alpha.*
/ajax/libs/inferno-redux/*-alpha.*
/ajax/libs/inferno-router/*-alpha.*
/ajax/libs/inferno-server/*-alpha.*
/ajax/libs/inferno-shared/*-alpha.*
/ajax/libs/inferno-test-utils/*-alpha.*
/ajax/libs/inferno-vnode-flags/*-alpha.*
/ajax/libs/infusion/*-dev.*/
/ajax/libs/interactive-data-display/1.0.1-DomTracking
/ajax/libs/interactive-data-display/1.0.1-DomTracking
/ajax/libs/interactive-data-display/*build*
/ajax/libs/ionic-framework/2.0.0-alpha.2.0.0-alpha.50/
/ajax/libs/ionicons/3.0.0-alpha.1/
/ajax/libs/ionic/testing
/ajax/libs/jarallax/1.6.1_/
/ajax/libs/jasmine/list/
/ajax/libs/jqBootstrapValidation/2.0.0-alpha
/ajax/libs/jQRangeSlider/latest/
/ajax/libs/jquery.alphanum/Stable_1.0
/ajax/libs/jquery.alphanum/Stable_1.1
/ajax/libs/jquery-bracket/release-*
/ajax/libs/jquery-countdown/Release_1*
/ajax/libs/jquery-datetimepicker/v.1.0.1
/ajax/libs/jquery-easing/1.3.0/
/ajax/libs/jquery-easing/1.3.1/
/ajax/libs/jquery-form-validator/2.2
/ajax/libs/jquery.gridster/v.0.4.0/
/ajax/libs/jquery.ime/1.0.0+20131229
/ajax/libs/jquery-tokeninput/jquery-tokeninput-1.*
/ajax/libs/jquery-ui-timepicker-addon/0.0.0-ignored/
/ajax/libs/jsmediatags/.3.2.0/
/ajax/libs/jsmediatags/delete/
/ajax/libs/js-nacl/last_plain_nacl_version/
/ajax/libs/jspdf/v.1.4.0/
/ajax/libs/jsrender/*/jsrender-node.js
/ajax/libs/js-scrypt/1.1.0/
/ajax/libs/jsSHA/release*
/ajax/libs/jsxgraph/RELEASE*
/ajax/libs/jsxgraph/rm/
/ajax/libs/jsxgraph/sketchometry*
/ajax/libs/jsxgraph/skm*
/ajax/libs/juicer/0.5.*-stable
/ajax/libs/juicer/0.6.*-stable*
/ajax/libs/knockout-sortable/v.0.14.0/
/ajax/libs/libphonenumber/libphonenumber*/
/ajax/libs/loadCSS/2.0.0-[2-4]
/ajax/libs/LoadGo/1.0/
/ajax/libs/lodash.js/*-es
/ajax/libs/lodash.js/*-npm
/ajax/libs/material-design-icons/2.0
/ajax/libs/material-design-icons/*/gulpfile.babel.js
/ajax/libs/mdbootstrap/4.4.0-dev
/ajax/libs/meshki/1.0.0/
/ajax/libs/meshki/1.1.0/
/ajax/libs/messenger/.1.5.0/
/ajax/libs/metrics-graphics/v.7.0
/ajax/libs/min/1.5
/ajax/libs/mini.css/3.0.0-alpha.3
/ajax/libs/mobx/*albert*
/ajax/libs/mobx/*fix*
/ajax/libs/mobx-react/*-fix*/
/ajax/libs/mobx-react/*-observableprops*/
/ajax/libs/mojio-js/connery/
/ajax/libs/mojio-js/oauth-token/
/ajax/libs/mojio-js/robb/
/ajax/libs/msl-client-browser/msl-client-java-1.0.0/
/ajax/libs/musicmetadata/Browser-0.4.3/
/ajax/libs/ng-pdfviewer/r0.1.0/
/ajax/libs/ng-pdfviewer/r0.2.0/
/ajax/libs/ng-pdfviewer/r0.2.1/
/ajax/libs/nuclear-js/show
/ajax/libs/numbered/0.0.4
/ajax/libs/numbered/1.0.0
/ajax/libs/nunjucks/v.1.3.1
/ajax/libs/octicons/0.0.0-*
/ajax/libs/octicons/*-alpha.*
/ajax/libs/octicons/*-rc.*
/ajax/libs/onsen/0.6.0/
/ajax/libs/onsen/2.10.7/
/ajax/libs/orb/1.0.0/
/ajax/libs/origamijs/0.0.2/
/ajax/libs/paper.js/src/
/ajax/libs/PhysicsJS/physicsjs-*
/ajax/libs/plottable.js/3.0.0-*-g*
/ajax/libs/plottable.js/*-dev-*
/ajax/libs/plottable.js/*-hover-tooltip*
/ajax/libs/plottable.js/v.0.18.0
/ajax/libs/plottable.js/v.2.4.1
/ajax/libs/postgrest-client/1.0.*
/ajax/libs/postscribe/ersion
/ajax/libs/prettyCheckable/v.2.1.1/
/ajax/libs/Primer/*-alpha*
/ajax/libs/punycode/2.0.*
/ajax/libs/punycode/2.1.*
/ajax/libs/qoopido.js/support
/ajax/libs/qoopido.js/widget-adapt
/ajax/libs/randomcolor/0.2
/ajax/libs/rangy/1.3.0-alpha.*
/ajax/libs/rangy/1.3.0-beta.*
/ajax/libs/raphael/semver/
/ajax/libs/react/0.0.0-*/
/ajax/libs/react/*-alpha.*[a-z]*/
/ajax/libs/react-data-grid/*-*/
/ajax/libs/react-data-grid/*-alpha*/
/ajax/libs/react-data-grid/*-dm*/
/ajax/libs/react-dom/0.0.0-*/
/ajax/libs/react-dom/*-alpha.*[a-z]*/
/ajax/libs/react-grid-layout/0.[0-7].*
/ajax/libs/react-grid-layout/0.8.0
/ajax/libs/react-mdl/0.*
/ajax/libs/react-mdl/1.0.[0-1]
/ajax/libs/react-quill/02e9da4/
/ajax/libs/react-router/latest/
/ajax/libs/redux-form/6.0.3/
/ajax/libs/require-cs/latest/
/ajax/libs/require-css/dev-test/
/ajax/libs/require-css/release-test/
/ajax/libs/require-i18n/latest/
/ajax/libs/require.js/latest/
/ajax/libs/roslibjs/node*
/ajax/libs/rrssb/1.75
/ajax/libs/rrssb/1.76
/ajax/libs/ryejs/0.1.1/
/ajax/libs/ryejs/0.1.2/
/ajax/libs/single-spa/[12].*/
/ajax/libs/sbt/1.0.0.20130926-1550/
/ajax/libs/sbt/1.1.3-20150220/
/ajax/libs/sbt/IBMSBT-20140312/
/ajax/libs/sbt/sbt*-1.[0-9].[0-9]-201[0-9]*/
/ajax/libs/sbt/sb[tk]*
/ajax/libs/seajs/2.0.0b[1-3]
/ajax/libs/slim.js/1.*/
/ajax/libs/slim.js/2.[0-5].*/
/ajax/libs/slippry/v.1.2/
/ajax/libs/social-likes/path/
/ajax/libs/spoqa-han-sans/origin
/ajax/libs/starability/v.0.1.0
/ajax/libs/strophe.js/release-1.2.0
/ajax/libs/swagger-ui/v/
/ajax/libs/systemjs-plugin-json/0.1.0/
/ajax/libs/tachyons/v.4.5.0
/ajax/libs/tent-css/*/06_components
/ajax/libs/tmlib.js/rsource0.1.0/
/ajax/libs/tocas-ui/2.0.0-rc.*
/ajax/libs/trackpad-scroll-emulator/version_1.0
/ajax/libs/Turf.js/0.0.4[3-6]
/ajax/libs/tween.js/0.0.0-development/
/ajax/libs/typebase.css/0.5
/ajax/libs/typescript/*dev*
/ajax/libs/typescript/*insiders*
/ajax/libs/typescript/*/typescriptServices.js
/ajax/libs/uikit/*-dev.*
/ajax/libs/underscore.string/v.1.1.3
/ajax/libs/underscore.string/v.2.0.0
/ajax/libs/underscore.string/v.2.1.1
/ajax/libs/underscore.string/v.2.2.0rc
/ajax/libs/unibox/jquery_plugin/
/ajax/libs/URI.js/v.1*
/ajax/libs/vega-tooltip/0.3.1
/ajax/libs/vibrant.js/1.0
/ajax/libs/v-mask/1.[0-2].*
/ajax/libs/vue-lazyload/0.*
/ajax/libs/vue-lazyload/1.0.0-*
/ajax/libs/Vue.Draggable/v.19.2/
/ajax/libs/wavesurfer.js/1.0.23
/ajax/libs/wavesurfer.js/1.0.26
/ajax/libs/wavesurfer.js/marky-boy_2006-01-11/
/ajax/libs/waypoints/latest/
/ajax/libs/waypoints/latest/
/ajax/libs/weather-icons/1.1endpoint
/ajax/libs/weather-icons/1.1ghpagesendpoint
/ajax/libs/winjs/release
/ajax/libs/xterm/3.*-beta*
/ajax/libs/xterm/3.14.0
/ajax/libs/yamlcss/rm,
/ajax/libs/webvr-polyfill/1.0.0
/ajax/libs/webvr-polyfill/0.[0-9].*
/ajax/libs/firebase/*-canary.*
/ajax/libs/colresizable/1.6/

#ignore snapshot tags
/ajax/libs/*/*snapshot*

#ignore files that we don't need
/ajax/libs/*/*/**/Gruntfile.js
/ajax/libs/*/*/**/.gitignore
