scratch/*
*~
*.log
*.swp
.DS_Store
.htaccess
.idea
.less
.md
temp/


# folders need to be ingored due to auto auto-update mechanism
ajax/libs/jquery.gridster/.0.4.0/
ajax/libs/backbone.layoutmanager/0.0.0/
ajax/libs/waypoints/latest/
