* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
}

section {
  height: 100vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkorchid;
}

section h2 {
  opacity: 0;
  transition: opacity 5000ms;
}

section.is-visible h2 {
  opacity: 1;
}

section:nth-child(2n) {
  background-color: turquoise;
}

section:nth-child(3n) {
  background-color: tomato;
}

a{
  color: white;
  
} 