$background-color = #f9f9f9
$text-color = #1f1f21
$sub-text-color = #999
$highlight-color = rgba(24,103,194,0.81)
$second-highlight-color = #25a6d9
$border-color = #ddd
$toolbar-background-color = #fff
$toolbar-button-color = rgba(38,100,171,0.81)
$toolbar-text-color = #1f1f21
$toolbar-border-color = #ddd
$buttonbar-color = rgba(18,114,224,0.77)
$buttonbar-active-text-color = #fff
$list-background-color = #fff
$list-header-background-color = #eee
$list-tap-active-background-color = #d9d9d9
$tabbar-background-color = #222
$tabbar-text-color = #999
$tabbar-highlight-text-color = #7abfff
$tabbar-border-color = rgba(0,0,0,.0)
$switch-highlight-color = #5198db
$modal-background-color = rgba(0, 0, 0, 0.7)
$modal-text-color = #fff
$notification-background-color = #dc5236

@import 'components'