$background-color = #242424
$text-color = #fff
$sub-text-color = #87888f
$highlight-color = #3d74ff
$second-highlight-color = #5494d1
$border-color = #424242
$toolbar-background-color = #1a1a1a
$toolbar-button-color = #aaa
$toolbar-text-color = #fff
$toolbar-border-color = rgba(0,0,0,.0)
$buttonbar-color = #ddd
$buttonbar-active-text-color = #2e2f33
$list-background-color = rgba(0,0,0,.0)
$list-header-background-color = #3e3f42
$list-tap-active-background-color = #47484d
$tabbar-background-color = #1a1a1a
$tabbar-text-color = #bdbdbd
$tabbar-highlight-text-color = #549eff
$tabbar-border-color = rgba(0,0,0,.0)
$switch-highlight-color = #3385ff
$modal-background-color = rgba(0, 0, 0, 0.7)
$modal-text-color = #fff
$notification-background-color = #3385ff

@import 'components'