$background-color = #f9f9f9
$text-color = #333
$sub-text-color = #999
$highlight-color = #eb482f
$second-highlight-color = #f28227
$border-color = #ddd
$toolbar-background-color = #fff
$toolbar-button-color = #eb5e2f
$toolbar-text-color = #333
$toolbar-border-color = #ddd
$buttonbar-color = rgba(235, 94, 47, 0.84)
$buttonbar-active-text-color = #fff
$list-background-color = #fff
$list-header-background-color = #eee
$list-tap-active-background-color = #d9d9d9
$tabbar-background-color = #fff
$tabbar-text-color = #ccc
$tabbar-highlight-text-color = #eb5e2f
$tabbar-border-color = #ddd
$switch-highlight-color = #e69e33
$modal-background-color = rgba(0, 0, 0, 0.7)
$modal-text-color = #fff
$notification-background-color = #eb5e2f

@import 'components'