/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

// NOTE: You can't use @extend that break component independent and topdoc parsing.

// internal variables
var-notification-bg-color = $notification-background-color
var-notification-color = white

var-notification-border-radius = 19px
var-notification-width = auto
var-notification-height = 19px
var-notification-min-width = 19px
var-notification-padding = 0 4px
var-notification-font-size = 16px


/*! topdoc
  name: Notification
  class: notification
  markup:
    <span class="notification">1</span>
    <span class="notification">10</span>
    <span class="notification">999</span>
*/

.notification
  inline-block()
  reset-box-model()
  reset-base()
  reset-font()
  reset-cursor()
  ellipsis()
  text-decoration none
  padding var-notification-padding
  width var-notification-width
  height var-notification-height
  border-radius var-notification-border-radius
  background-color var-notification-bg-color
  color var-notification-color
  text-align center
  font-size var-notification-font-size
  min-width var-notification-min-width
  line-height @height
  font-weight var-font-weight

