[submodule "js/es5-shim"]
	path = js/es5-shim
	url = https://github.com/es-shims/es5-shim.git
[submodule "css/pie"]
	path = css/pie
	url = https://github.com/lojjic/PIE.git
[submodule "js/classList"]
	path = js/classList
	url = https://github.com/eligrey/classList.js.git
