/**
*
* Copyright 2012 Adobe Systems Inc.
*
* Licensed under the Apache License, Version 2.0 (the "License")
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

// NOTE: You can't use @extend that break component independent and topdoc parsing.

// internal variables
var-background-color__button := #1284ff
var-color__button := white
var-background-color--cta := #4CDA64
var-quiet-button-color := #1284ff

var-text-shadow--cta = none
var-border__button--quiet = none
var-quiet-button-background = transparent
var-color--button--active = var-color__button
var-background-color--down__button = var-background-color__button
var-background-color--quiet-active = transparent
var-box-shadow--cta = none
var-box-shadow--cta--down = none
var-background-color--cta--down = var-background-color--cta
var-color--cta = white
var-color--cta--down = white
var-padding--button--large = 4px 12px
var-padding--button = 4px 10px
var-line-height--button = 32px
var-line-height--button--large = 36px
var-active-button-opacity = 0.2
var-border-radius__button = 3px

/*! topdoc
  name: Button
  class: button
  modifiers:
    :active: Active state
    :disabled: Disabled state
    :focus: Focused
  markup:
    <button class="button">Button</button>
    <button class="button" disabled>Button</button>
*/

button--quiet()
  reset-quiet()

button--disabled()
  disabled()

button--hover()
  transition none

button()
  inline-block()
  reset-box-model()
  reset-base()
  reset-font()
  reset-cursor()
  ellipsis()
  height auto
  text-decoration none
  padding var-padding--button
  font-size var-font-size
  line-height var-line-height--button
  letter-spacing var-letter-spacing
  color var-color__button
  text-shadow var-text-shadow
  vertical-align middle
  background-color var-background-color__button
  box-shadow var-box-shadow
  border 0px solid currentColor
  border-radius var-border-radius__button
  transition none

button--focus()
  box-shadow none
  outline 0

button--active()
  background-color var-background-color--down__button
  box-shadow var-box-shadow--down
  color var-color--button--active
  transition none
  opacity var-active-button-opacity

.button
  button()

.button:hover
  button--hover()

.button:active
  button--active()

.button:focus
  button--focus()

.button:disabled,
.button[disabled]
  button--disabled()

/*! topdoc
  name: Outline Button
  class: button--outline
  use: Button
  markup:
    <button class="button button--outline">Button</button>
    <button class="button button--outline" disabled>Button</button>
*/
.button--outline
  background-color transparent
  border 1px solid var-background-color__button
  color var-background-color__button

.button--outline:active
  background-color mylighten(var-background-color__button)
  border 1px solid var-background-color__button
  color var-background-color__button
  opacity 1

.button--outline:hover
  border 1px solid var-background-color__button
  transition 0

/*! topdoc
  name: Light Button
  class: button--light
  use: Button
  markup:
    <button class="button button--light">Button</button>
    <button class="button button--light" disabled>Button</button>
*/
.button--light
  background-color transparent
  color rgba(0, 0, 0, 0.4)
  border 1px solid rgba(0, 0, 0, 0.2)

.button--light:active
  background-color rgba(0, 0, 0, 0.05)
  color rgba(0, 0, 0, 0.4)
  border 1px solid rgba(0, 0, 0, 0.2)
  opacity 1

/*! topdoc
  name: Quiet Button
  class: button--quiet
  markup:
    <button class="button--quiet">Button</button>
    <button class="button--quiet" disabled>Button</button>
*/

.button--quiet
  button()
  button--quiet()
  background var-quiet-button-background
  color var-quiet-button-color
  border none

.button--quiet:disabled,
.button--quiet[disabled]
  button--disabled()
  border none

.button--quiet:hover
  button--hover()

.button--quiet:focus
  button--focus()

.button--quiet:active
  text-shadow var-text-shadow
  background-color var-background-color--quiet-active
  border none
  box-shadow var-box-shadow--down
  transition none
  opacity var-active-button-opacity
  color var-quiet-button-color

/*! topdoc
  name: Call To Action Button
  class: button--cta
  markup:
    <button class="button--cta">Button</button>
    <button class="button--cta" disabled>Button</button>
*/

.button--cta
  button()
  border none
  background-color var-background-color--cta
  box-shadow var-box-shadow--cta
  color var-color--cta
  text-shadow var-text-shadow--cta

.button--cta:hover
  button--hover()

.button--cta:focus
  button--focus()

.button--cta:active
  color var-color--cta--down
  background-color var-background-color--cta--down
  box-shadow var-box-shadow--cta--down
  transition none
  opacity var-active-button-opacity

.button--cta:disabled,
.button--cta[disabled]
  button--disabled()


/*! topdoc
  name: Large Button
  class: button--large
  use: Button
  markup:
    <button class="button button--large">Button</button>
*/

.button--large
  font-size var-font-size--large
  font-weight var-font-weight--large
  line-height var-line-height--button--large
  padding var-padding--button--large
  display block
  width 100%
  text-align center

.button--large:active
  button--active()
  transition none

.button--large:disabled,
.button--large[disabled]
  button--disabled()

.button--large:hover
  button--hover()

.button--large:focus
  button--focus()

/*! topdoc
  name: Large Quiet Button
  class: button--large--quiet
  markup:
    <button class="button--large--quiet">Button</button>
*/

.button--large--quiet
  button()
  font-size var-font-size--large
  font-weight var-font-weight--large
  line-height var-line-height--button--large
  padding var-padding--button--large
  display block
  width 100%
  button--quiet()
  color var-quiet-button-color
  text-align center

.button--large--quiet:active
  transition none
  opacity var-active-button-opacity
  color var-quiet-button-color
  button--quiet()

.button--large--quiet:disabled,
.button--large--quiet[disabled]
  button--disabled()

.button--large--quiet:hover
  button--hover()

.button--large--quiet:focus
  outline 0


/*! topdoc
  name: Large Call To Action Button
  class: button--large--cta
  markup:
    <button class="button--large--cta" >Button</button>
*/

.button--large--cta
  button()
  border none
  background-color var-background-color--cta
  box-shadow var-box-shadow--cta
  color var-color--cta
  text-shadow var-text-shadow--cta
  font-size var-font-size--large
  font-weight var-font-weight--large
  line-height var-line-height--button--large
  padding var-padding--button--large
  width 100%
  text-align center
  display block

.button--large--cta:hover
  button--hover()

.button--large--cta:focus
  button--focus()

.button--large--cta:active
  color var-color--cta--down
  background-color var-background-color--cta--down
  box-shadow var-box-shadow--cta--down
  transition none
  opacity var-active-button-opacity

.button--large--cta:disabled,
.button--large--cta[disabled]
  button--disabled()
