/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/

// NOTE: You can't use @extend that break component independent and topdoc parsing.

// internal variables
var-buttonbar-color := #1284ff
var-color--button-bar__button--active := white

var-button-bar-margin = 0
var-border-right--button-bar = none
var-border-right--button-bar__button--z-index = 1
var-border-top--button-bar__button = 1px solid var-buttonbar-color
var-border-bottom--button-bar__button = 1px solid var-buttonbar-color
var-border--button-bar = 0px solid var-buttonbar-color
var-border--button-bar__button = 0px solid var-buttonbar-color
var-border--button-bar__button--active = 0px solid var-buttonbar-color
var-border-right--button-bar__button = 1px solid var-buttonbar-color
var-border-right--button-bar__button--active = 1px solid var-buttonbar-color
var-border-right--button-bar__button--focus = 1px solid var-buttonbar-color
var-border-left--button-bar__button__first = 1px solid var-buttonbar-color
var-border-right--button-bar__button__first = 1px solid var-buttonbar-color
var-border-right--button-bar__button__last = 1px solid var-buttonbar-color
var-background-color--button-bar = transparent
var-background-color--button-bar--button--active = mylighten(var-buttonbar-color)
var-background-color--button-bar--button--hover = white
var-background-color--button-bar--button--on-state = var-buttonbar-color
var-color--button-bar--button = var-buttonbar-color
var-color--button-bar__button--hover = var-buttonbar-color

/*! topdoc
  name: Button Bar
  class: button-bar
  modifiers:
    :disabled: Disabled state
  markup:
    <div class="button-bar" style="width:280px;margin:0 auto;">
      <div class="button-bar__item">
        <button class="button-bar__button">One</button>
      </div>
      <div class="button-bar__item">
        <button class="button-bar__button">Two</button>
      </div>
      <div class="button-bar__item">
        <button class="button-bar__button">Three</button>
      </div>
    </div>
*/

button-bar()
  reset-font()
  display table
  table-layout fixed
  white-space nowrap
  margin 0
  padding 0

button-bar__item()
  reset-font()
  display table-cell
  width auto
  border-radius 0
  position relative

.button-bar
  button-bar()
  position relative
  margin var-button-bar-margin
  border none

.button-bar__item
  button-bar__item()
  hide-input-parent()
  padding 0
  position relative
  overflow hidden

.button-bar__item > input
  hide-input()

.button-bar__item:first-child > .button-bar__button
  border-left var-border-left--button-bar__button__first
  border-right var-border-right--button-bar__button__first
  border-top-left-radius var-border-radius
  border-bottom-left-radius var-border-radius

.button-bar__item:last-child > .button-bar__button
  border-right var-border-right--button-bar__button__last
  border-top-right-radius var-border-radius
  border-bottom-right-radius var-border-radius

.button-bar__button
  reset-font()
  border-radius inherit
  background-color var-background-color--button-bar
  color var-color--button-bar--button
  border var-border--button-bar__button
  border-top var-border-top--button-bar__button
  border-bottom var-border-bottom--button-bar__button
  border-right var-border-right--button-bar__button
  font-weight var-font-weight
  padding 0 8px
  height 27px
  line-height 27px
  font-size 13px
  width 100%
  transition background-color 0.2s linear, color 0.2s linear
  box-sizing border-box

.button-bar__button:active,
:active + .button-bar__button
  background-color var-background-color--button-bar--button--active
  border var-border--button-bar__button
  border-top var-border-top--button-bar__button
  border-bottom var-border-bottom--button-bar__button
  border-right var-border-right--button-bar__button
  height 27px
  line-height 27px
  font-size 13px
  width 100%
  transition none

.button-bar__item.active > .button-bar__button,
:checked + .button-bar__button
  background-color var-background-color--button-bar--button--on-state
  color var-color--button-bar__button--active
  transition none

.button-bar__button:disabled
  disabled()

.button-bar__button:hover
  transition none

.button-bar__button:focus
  outline 0

/*! topdoc
  name: Segment
  use: Button Bar
  modifiers:
    :disabled: Disabled state
  markup:
    <div class="button-bar" style="width:280px;margin:0 auto;">
      <div class="button-bar__item">
        <input type="radio" name="segment-a" checked>
        <button class="button-bar__button">One</button>
      </div>
      <div class="button-bar__item">
        <input type="radio" name="segment-a">
        <button class="button-bar__button">Two</button>
      </div>
      <div class="button-bar__item">
        <input type="radio" name="segment-a">
        <button class="button-bar__button">Three</button>
      </div>
    </div>
*/
