// NOTE: You can't use @extend that break component independent and topdoc parsing.

// internal variables
var-background-color--page := #fff

.page
  reset-font()
  background-color var-background-color--page
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  overflow visible
  font-size var-font-size
  color var-text-color

.page::-webkit-scrollbar
  display none

.page__content
  background-color var-background-color--page
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  box-sizing border-box
  margin-top -1px

.content-padded
  padding 8px
