
reset-font()
  font-family 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing: grayscale
  font-weight var-font-weight
  font-size var-font-size

reset-base()
  padding 0
  margin 0
  font inherit
  color inherit
  background transparent
  border none
  line-height normal

reset-list()
  padding 0
  margin 0
  list-style-type none
  text-align left

reset-quiet()
  background transparent
  border 1px solid transparent
  box-shadow none

reset-input()
  reset-base()
  reset-box-model()
  vertical-align top
  outline none
  line-height 1

hide-input()
  position absolute
  overflow hidden
  right 0px
  top 0px
  left 0px
  bottom 0px
  padding 0
  border 0
  opacity 0.001
  z-index 1
  vertical-align top
  outline none
  width 100%
  height 100%
  margin 0
  -webkit-appearance none
  appearance none

hide-input-parent()
  position relative
  overflow hidden

reset-cursor()
  cursor default
  user-select none

reset-box-model()
  box-sizing border-box
  background-clip padding-box

reset-overflow()
  white-space nowrap
  overflow hidden

reset-container()
  reset-box-model()
  reset-overflow()
  word-spacing 0

inline-block()
  position relative
  display inline-block
  vertical-align top

ellipsis()
  text-overflow ellipsis
  reset-overflow()

disabled()
  opacity 0.3
  cursor default
  pointer-events none

reset-ui()
  reset-box-model()
  inline-block()
  reset-base()
  reset-cursor()
  ellipsis()

retina-query()
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    {block}

