{
  // Default options
  'functions': true
}

[class*=emojione-] {
  image-rendering: optimizeQuality;
  width: 1.3em;
  height: 1.3em;
  background-image: url('emojione.sprites.png');
  background-size: 3000%;
  background-repeat: no-repeat;
}

{{#items}}
.{{name}} {
  background-position: (({{px.x}} * 100 / ({{px.total_width}} * (29/30))))#{"%"} (({{px.y}} * 100 / ({{px.total_height}} * (28/29))))#{"%"};
}
{{/items}}