*.pyc
*.pyo
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
downloads/*
eggs/*
fake-eggs/*
parts/*
develop-eggs
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
*.LCK
*.lck
*~
*.bak
.coverage
*.pyd 
*.so
*.orig
*.rej
__minitage__*
.metadata
.secret.cfg
.settings
.project
.pydevproject
flattened-eggs

jsdoc*
releases

.DS_Store
docs/apidocs/*


*.min.js
*.debug.js
*.min.css
*.debug.css


